* {
    margin: 0;
    padding: 0;
}

/* START hacky stuff to center everything on page for now */
body {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

button {
    margin-top: 40px;
}
/* END hacky stuff */

.canvas {
    border: 1px solid black;
    width: 600px;
    height: 600px;
    display: flex;
}

.column {
    display: flex;
    flex: 1;    
    flex-direction: column;
}

.cell {
    border: 1px solid #9e9e9e54;
    flex: 1;
}
